[Unit]
Description=DVM Host Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/dvm/bin/dvmhost -c /opt/dvm/config.yml
ExecStop=/bin/kill -s SIGTERM $MAINPID
RestartSec=20s
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
