[Unit]
Description=DVM Host Service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/dvm/bin/dvmhost -c /opt/dvm/config.yml
ExecStop=/bin/kill -s SIGTERM $MAINPID
RestartSec=20s
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
